// Background colors
$background-element: rgba(255, 255, 255, 1);
$background-footer: rgba(255, 255, 255, 1);
$background-button: rgba(40, 146, 215, 1);
$background-hover: rgba(40, 146, 215, 0.1);

// Border colors
$border-input: rgba(205, 205, 205, 1);
$border-input-active: rgba(40, 146, 215, 1);
$border-link: rgba(40, 146, 215, 1);

// Box shadows
$shadow-footer: 6px 0px 6px 0px rgba(0, 0, 0, 0.12);
$shadow-button: 3px 3px 6px 0px rgba(0, 0, 0, 0.12);

// Font colors
$font-error: rgba(255, 77, 77, 1);
$font-header: rgba(45, 49, 66, 1);
$font-paragraph: rgba(45, 49, 66, 1);
$font-button: rgba(255, 255, 255, 1);
$font-link: rgba(40, 146, 215, 1);
$font-author: rgba(98, 98, 98, 1);
$font-placeholder: rgba(205, 205, 205, 1);
$font-input: rgba(45, 49, 66, 1);
