// Flexbox mixin for applying flexbox styling to a wrapper
@mixin flex-wrapper($direction: row, $wrap: nowrap, $align: stretch, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

// Position mixin for applying position styles to a wrapper
@mixin position($pos: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Base transition mixin
@mixin base-transition($property, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}
