// Icons
$base-icon-size: 1.3em;
$carousel-icon-size: 2.5em;

// Footer
$footer-height: 3em;

// Search input
$search-input-max-width: 20em;
$search-input-height: 2.2em;
$search-input-border: 0.1em;

// Button
$base-button-height: 2.5em;

// Base carousel
$carousel-max-width: 35em;

// Base loading
$loading-content-size: 2.4em;
$loading-border-size: 0.25em;
