// Icons
$base-icon-size: 1.3em;

// Footer
$footer-height: 3em;

// Search input
$search-input-max-width: 20em;
$search-input-height: 2.2em;
$search-input-border: 0.1em;

// Button
$base-button-height: 2.5em;
