// Font imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&display=swap');


// Base font styles
h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  color: $font-header;
  text-align: center;
  text-transform: uppercase;
  max-width: 25em;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: $font-header;
  text-align: center;
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: $font-paragraph;
}

p.error {
  @include position($pos: relative);
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: $font-error;
  padding-left: 0.5em;

  &::before {
    @include position($pos: absolute, $left: 0);
    content: '';
    width: 0.2em;
    height: 100%;
    background: $font-error;
  }
}

a {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
  color: $font-link;
  text-decoration: none;
}

input[type="text"] {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: $font-input;

  &::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    color: $font-placeholder;  
  }
}
